<h2>Manage Your Collection</h2>

<div class="card" style="width: 18rem;">
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Cars">
    <div class="card-body">
        <h5 class="card-title">Cars</h5>
        <a href="/Home/ManageCars" class="btn btn-primary">Manage Cars</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Brands">
    <div class="card-body">
        <h5 class="card-title">Brands</h5>
        <a href="/Home/ManageBrands" class="btn btn-primary">Manage Brands</a>
    </div>
</div>
